<div class="secciones">
    <div class="seccion">
        <img src="../../../assets/imgs/pendientes-secciones.jpg" alt="">
        <h3>Pendientes</h3>
    </div>
    <div class="seccion">
        <img src="../../../assets/imgs/pulsera-secciones.png" alt="">
        <h3>Pulseras</h3>
    </div>
    <div class="seccion">
        <img src="../../../assets/imgs/collar-secciones.png" alt="">
        <h3>Collares</h3>
    </div>
    <div class="seccion">
        <img src="../../../assets/imgs/anillos-secciones.png" alt="">
        <h3>Anilllos</h3>
    </div>
</div>


<div class="opciones">
    <div class="opcion">
        <img src="../../../assets/imgs/restaura.jpg" alt="">
        <h3>Restaura</h3>
    </div>
    <div class="opcion">
        <img src="../../../assets/imgs/personaliza.jpg" alt="">
        <h3>Personaliza</h3>
    </div>
    <div class="opcion">
        <img src="../../../assets/imgs/crea.jpg" alt="">
        <h3>Crea</h3>
    </div>
</div>