<div class="navbar">
    <ul class="principal">
        <li> <a href="#" data-bs-toggle="dropdown">Joyas</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Pendientes</a></li>
                <li><a class="dropdown-item" href="#">Collares</a></li>
                <li>
                    <a class="dropdown-item" href="#">Pulseras</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Anillos</a>
                </li>
            </ul>
        </li>

        <li> <a href="#" data-bs-toggle="dropdown">Personalización</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Crea tu joya</a></li>
                <li>
                    <a class="dropdown-item" href="#">Personaliza tu joya</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Restaura tu joya</a>
                </li>
            </ul>
        </li>
        <li><a href="">Contacto</a></li>
    </ul>


    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Busca tu producto">
            <button type="submit" class="searchButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </div>
    </div>

    <div class="icons">
        
        <img [routerLink]="['user']" src="../../assets/imgs/avatar.png" alt="">
        <img  [routerLink]="['whislist']" src="../../assets/imgs/corazon.png" alt="">
        <img [routerLink]="['carrito']" src="../../assets/imgs/bolsa.png" alt="">
    </div>
</div>