@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Great+Vibes&family=Mrs+Saint+Delafield&family=Qwitcher+Grypen:wght@400;700&family=Sacramento&family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

.title img {
  width: 3vw;
  height: 6vh;
  position: absolute;
  left: 53%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 26vh;
  padding: 20px 20px 0 20px;

  & h1 {
    font-family: "Mrs Saint Delafield", "WindSong", cursive;
  position: absolute;
  font-size: 8rem;
  top: 0%;
  color: black;
  }

  & h2 {
    position: absolute;
    font-size: 1rem;
    bottom: 41px;
    left: 48%;
    color: black;
  }
}

.fondo{
  padding: 20px 0 10px;
  background-image: url("../assets/imgs/fondo4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;

}
